.nopad{
    padding: 0px;
}

#navbar>.row>*{
    width: fit-content;
    height: 80px;
    justify-content: center;
}
#navbar > .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: lightpink;
    position:sticky;
    top: 0;
    z-index: 100;
    /* width: 100%; */
    height: fit-content;
}

#rowhead > .tohover{
    padding-top: 20px;
}
#rowhead >.tohover:hover {
    
    border-bottom: 5px solid tomato;
}

.header_logo{
    width: 180px;
    height: 80px;
    object-fit: scale-down;
    padding: 0px;
    margin: 0px;
}
#rowhead > .header_optionBasket{
    display: flex;
    justify-content: center;
    
}