.landingpagemain{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.landinginfo{
    text-align: left;
}
.landingcontact{
    text-align: left;
}
.footer{
    background-color: #323232;
    color: white;
    /* width: 100%; */
    padding: 15px 0;
}
.headingtext { 
    font-family: 'proxima-nova', sans-serif;
    color: #333;
}
.servicesdiv{
    float: left;
    text-align: center;
    width: 22%;
    padding: 1%;
}